@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(60, 90, 60);
}

.mainpage-container {
  width: 100%;
  height: 100%;
  background-color: rgb(92, 105, 146);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainpage-container .header-container {
  width: 100%;
  height: 8%;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
}
.mainpage-container .header-container .logo-container {
  width: 20%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.mainpage-container .header-container .logo-container h1 {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28px;
  color: whitesmoke;
}
.mainpage-container .header-container .logo-container i {
  color: whitesmoke;
  font-size: 40px;
}
.mainpage-container .header-container .nav-bar-middle {
  width: 50%;
  height: 100%;
}
.mainpage-container .header-container .account-container {
  width: 20%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.mainpage-container .header-container .account-container i {
  color: whitesmoke;
  font-size: 30px;
}
.mainpage-container .content-container {
  width: 100%;
  height: 100%;
  background-color: rgb(60, 90, 60);
  display: flex;
  flex-direction: row;
}
.mainpage-container .sidebar-container {
  width: 22%;
  min-width: 200px;
  height: 100%;
  border-right: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.mainpage-container .sidebar-container .submit-new-list {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.mainpage-container .sidebar-container .submit-new-list input {
  width: 85%;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  font-family: Lato, sans-serif;
}
.mainpage-container .sidebar-container .submit-new-list input:focus {
  background-color: rgb(171, 233, 238);
}
.mainpage-container .sidebar-container .submit-new-list button {
  width: 60%;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: black;
  color: whitesmoke;
  font-family: Lato, sans-serif;
}
.mainpage-container .sidebar-container .new-list-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
}
.mainpage-container .sidebar-container .new-list-container .list-item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-family: Lato, sans-serif;
}
.mainpage-container .sidebar-container .new-list-container .list-item:hover {
  background-color: rgb(171, 233, 238);
}
.mainpage-container .sidebar-container .new-list-container .list-item:active {
  background-color: rgb(94, 244, 255);
}
.mainpage-container .sidebar-container .new-list-container .active {
  background-color: pink;
}
.mainpage-container .task-container {
  width: 85%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainpage-container .task-container .list-name {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.mainpage-container .task-container .list-name h1 {
  font-family: Lato, sans-serif;
  font-size: 45px;
  padding-left: 20px;
}
.mainpage-container .task-container .list-name i {
  font-size: 30px;
}
.mainpage-container .task-container .add-task {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.mainpage-container .task-container .add-task input {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
  margin-left: 20px;
}
.mainpage-container .task-container .add-task input:focus {
  background-color: rgb(171, 233, 238);
}
.mainpage-container .task-container .add-task button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  font-size: 16px;
}
.mainpage-container .task-container .list-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainpage-container .task-container .list-container .list {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.mainpage-container .task-container .list-container .list .task-item {
  width: 65%;
  height: 55px;
  padding-left: 10px;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainpage-container .task-container .list-container .list .task-item .task-description {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mainpage-container .task-container .list-container .list .task-item .task-description h3 {
  font-size: 24px;
  font-family: Lato, sans-serif;
}
.mainpage-container .task-container .list-container .list .task-item .task-description .line-through {
  text-decoration: line-through;
}
.mainpage-container .task-container .list-container .list .task-item .task-description #taskItemCheckbox {
  transform: scale(1.5);
  accent-color: rgb(171, 233, 238);
}
.mainpage-container .task-container .list-container .list .task-item .task-icons {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.mainpage-container .task-container .list-container .list .task-item .task-icons i {
  font-size: 25px;
}
.mainpage-container .task-container .selected-task-container {
  width: 94%;
  height: 90%;
  background-color: rgb(120, 120, 179);
}
.mainpage-container .tab-container {
  width: 100%;
  height: 7%;
  background-color: red;
  display: flex;
}
.mainpage-container .tab-container .tab {
  width: 15%;
  min-width: 200px;
  height: 100%;
  background-color: blue;
}/*# sourceMappingURL=base.css.map */